
<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <!-- <a href="#" class="navbar-brand">CANDY</a> -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
            <div class="d-flex justify-content-between">
            <div>    
            <li class="nav-item">
                <a href="#" class="navbar-brand">FEMINIRA</a>
            </li>
            </div>
            <div class="d-flex">
            <li class="nav-item">
                <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
                <a href="/music" class="nav-link">MUSIC</a>
            </li>
            <li class="nav-item">
                <a href="/exercise" class="nav-link">EXERCISE</a>
            </li>
        

            <li class="nav-item ml-auto">
                <a href="/login" class="nav-link">LOGIN</a>
            </li>
            <li class="nav-item ml-auto">
                <a href="/register" class="nav-link">REGISTER</a>
            </li>
            <li class="nav-item ml-auto">
                <a href="/logout" class="nav-link">LOGOUT</a>
            </li>
            </div>
            </div>
        </ul>
    </div>
</nav>
