<%-include("partials/header") %>
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/addons/p5.sound.min.js"></script>
<script src="https://unpkg.com/ml5@0.4.2/dist/ml5.min.js"></script>
<link rel="stylesheet" href="css/exercise.css"> 
</head>

<body>
    
    <%-include("partials/nav") %>
    <h1 class="">
        Exercise
    </h1>
    <script src="js/sketch.js"></script>
    <div id="counterDiv" >
        Zero
    </span>
    

<%-include("partials/footer") %>