<%-include("partials/header") %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">

    <link rel="stylesheet" href="css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
	<script type="text/javascript" src="js/home.js" async></script>
</head>
<style>
    *{
        margin:0;
        box-sizing: border-box;
        outline:none;
    }
    body{
        background-color: #342229;
        overflow-x: hidden;
    }
    .wrapper{
        position: relative;
    }
    .slider{
        position: relative;
    }
    .slider .item{
        position: relative;
        text-align:center;
        height:100vh;
    }
    .slider .item:before{
        content: attr(data-text);
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        color:#fff;
        font-size: 300px;
        font-family: Butler;
        text-transform: uppercase;
        letter-spacing: 30px;
        opacity:.1;
    }
    .slider .item img{
        margin: 140px auto 0;
    }
    .slider h1{
        font-size:70px;
        letter-spacing: 1px;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        transition: all ease 0.5s;
    }
    .slider .text{
        position: absolute;
        width:100%;
        bottom: 30px;
    }
    .slider .slick-arrow{
        position:absolute;
        top:inherit;
        bottom: 15px;
        width:70px;
        height:70px;
        border: 1px solid #fff;
        border-radius: 50%;
        z-index: 9;
    }
    .slider .slick-next{
        right:inherit;
        left:220px;
    }
    .slider .slick-prev{
        left:130px;
    }
    .slider .slick-arrow.slick-disabled, 
    .slider .slick-arrow.slick-disabled:before{
        opacity: .3;
    }

    .slider .slick-next:before,
    .slider .slick-prev:before{
        content: '';
        position: absolute;
        background: url(images/arrow-next.svg);
        background-size: 10px;
        width: 10px;
        height: 16px;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
    }

    .slider .slick-prev:before{
        background: url(images/arrow-next.svg);
        background-size: 10px;
    }

    .btn{
        width: 250px;
        height:70px;
        line-height: 70px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #f2ca2c;
        color:#000;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index:2;
        transition: all ease 0.5s;
        overflow: hidden;
    }
    .btn:before{
        content: '';
        position:absolute;
        top:-100%;
        left:-100%;
        width:100%;
        height: 100%;
        background-color: #000;
        z-index: -1;
        transition: all ease 0.5s;
    }
    .btn:hover{
        color:#fff;
    }
    .btn:hover:before{
       top:0;
       left:0;
    }

    .wave-line{
        width:100%;
        position:absolute;
        top:43%;
        left:0;
        transform: translateY(-50%);
        z-index: -1;
    }
    .wave-line .line{
        position:absolute;
        width: 100%;
        height: 130px;
    }
    .wave-line .line1{
        background: url(images/line1.svg) repeat-x;
        background-size: contain;
        animation: lineOne 30s linear infinite;
    }
    .wave-line .line2{
        background: url(images/line2.svg) repeat-x;
        background-size: contain;
        animation: lineTwo 30s linear infinite;
    }
    .wave-line .line3{
        background: url(images/line3.svg) repeat-x;
        background-size: contain;
        animation: lineThree 30s linear infinite;
    }

    @keyframes lineOne {
        50%{
            background-position: -150% 0;
        }
    }
    @keyframes lineTwo {
        50%{
            background-position: -100% 0;
        }
    }
    @keyframes lineThree {
        50%{
            background-position: 150% 0;
        }
    }
</style>
<body>
  <%-include("partials/nav") %>
  <header>


<div class="panel" data-color="">

<div class="wrapper">
    <div class="slider">
        <div class="slider-inner">
            <div class="item" data-text="SHE">
                <img src="images/slide1.png" alt="">
                <div class="text">
                    <h1>Maxima <br> fugit</h1>
                </div>
            </div>
            <div class="item" data-text="2">
                <img src="images/slide1.png" alt="">
                <div class="text">
                    <h1>Elmer <br> fugit</h1>
                </div>
            </div>
            <div class="item" data-text="3">
                <img src="images/slide1.png" alt="">
                <div class="text">
                    <h1>Maxima <br> fugit</h1>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn">Explore</a>
</div>
<div class="wave-line">
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
</div>
</div>
<div class="panel" id="next" data-color="indigo">
  <h2>Indigo panel</h2>
</div>
<div class="panel" data-color="blue">
  <h2>Blue panel</h2>
</div>
<div class="panel" data-color="green">
  <h2>Green panel</h2>
</div>
<div class="panel" data-color="orange">
  <h2>Orange panel</h2>
</div>
<div class="panel" data-color="red">
  <h2>Red panel</h2>
</div>


<script>
    $(document).ready(function(){
        $('.slider-inner').slick({
            infinite:true,
            slidesToShow: 3,
            slidesToScroll:3,
            swipe:false,
            fade:true,
            speed:1500
        })
    })
    
</script>

  <%-include("partials/footer") %>