/* Setting fade transition and default settings */
body {
    color: #000;
    background-color: #f4f4f4;
    transition: background-color 1s ease;
  }
  .site-title {
    font-size: 144px;
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px white;

    
}
.hero-image{
    height:100% !important;
}
  /* panel styles */
  .panel {
    /* min height incase content is higher than window height */
    min-height: 80vh;
     display: flex; 
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;  
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
  }
  button{
    width : 100%;
    height : 50px;
    margin-bottom : 15px;
    border : none;
    border-radius : 5px;
    color: rgb(238, 20, 74);
    text-shadow : 0px 1px 0px #888;
    transition : background-color ease-in-out 0.5s; 
  }
  .fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid rgb(253, 252, 252);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .fill::after {
    content: "";
    background-color: rgb(221, 134, 156);;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }
  /* colours */
  .color-white {
    background-color: #fff;
  }
  .color-violet {
    background-color: #e7beca;
  }
  .color-indigo {
    background-color: rgb(164, 202, 212);
  }
  .color-blue {
    background-color: rgb(164, 212, 171);
  }
  .color-green {
    background-color: rgb(164, 212, 200);
  }
  .color-orange {
    background-color: rgb(230, 216, 204);
  }
  .color-red {
    background-color: rgb(216, 141, 160);
  }
  
  /* styling for demo, can ignore */
  /* body {
    text-align: center;
    font-size: 120%;
    line-height: 1.618;
  }
  h1, h2 {
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1.1;
  }
  p {
    max-width: 30em;
    margin-bottom: 1.618em;
  }
  a {
    color: #4332CF;
  } */
/* 
  body {
    background-color: #191919;
    font-family: 'Open Sans', sans-serif;
} */
.edgtf-section-bold-ital{
  font-family: "Playfair Display",serif;
  font-style: italic;
  font-weight: 700;
}
.blog_card {
  margin: 50px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1), 0 17px 50px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
}
.blog_card_image {
  padding: 20px;
}
.blog_card_image img {
  margin-top: -60px;
  width: 100%;
  border-radius: 20px;
  transition: 0.25s ease-in-out;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.blog_card_content {
  padding: 16px;
}
.blog_card_content h3 {
  font-size: 24px;
  line-height: 36px;
  color: #303133;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: -0.5;
}
.blog_card_content p {
  font-size: 16px;
  color: #777;
  line-height: 36px;
}
.blog_card_content a {
  text-decoration: none;
}
.blog_card_content a h6 {
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c8a482;
  margin-bottom: 33px;
}
.blog_card:hover .blog_card_image img {
  transform: translatey(-3%);
}
