body{
    background-color: #feedff;
        
}
.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}

.form-label {
    padding-left:0px !important;
}

img {
    width:140px;
    height:140px;
}

.btn-success {
    background-color: #000000!important;
}

.btn-success:hover {
    background-color: #686868!important;
}

img.track {
    border: 1px solid #8a8a8a;
}
.spotifyPlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-radius: 5%;
    background-color: #000;
    color: #fff;
}